<a href="https://colab.research.google.com/github/rebirthtobi/random_forest/blob/main/Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Random Forest for Regression**

In [34]:
# Importing of liberaries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn import metrics
from google.colab import drive

In [14]:
# Importing of sample data
drive.mount('/content/gdrive') 
dataset = pd.read_csv('gdrive/My Drive/Colab Notebooks/petrol_consumption.csv')
dataset.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [15]:
# Spliting data into labels and attributes 
X = dataset.iloc[:, 0:4].values
y = dataset.iloc[:, 4].values

In [16]:
# Data spliting into training and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [17]:
# We then scale out data though this is optional
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
# We traing the model using Random Forest
regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [19]:
# Evaluate our model
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 51.76500000000001
Mean Squared Error: 4216.166749999999
Root Mean Squared Error: 64.93201637097064

# **Random Forest for Classification**

In [25]:
# Importing of sample data
dataset_class = pd.read_csv('gdrive/My Drive/Colab Notebooks/bill_authentication.csv')
dataset_class.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [26]:
# Splitting out data into label and attributes
X_class = dataset_class.iloc[:, 0:4].values
y_class = dataset_class.iloc[:, 4].values

In [27]:
# We split the data into trainging and testing set
X_class_train, X_class_test, y_class_train, y_class_test = train_test_split(X_class, y_class, test_size=0.2, random_state=0)

In [29]:
# We are scaling our data here but not compulsory

sc_class = StandardScaler()
X_class_train = sc_class.fit_transform(X_class_train)
X_class_test = sc_class.transform(X_class_test)

In [35]:
# Fitting our model
regressor_class = RandomForestClassifier(n_estimators=20, random_state=0)
regressor_class.fit(X_class_train, y_class_train)
y_class_pred = regressor_class.predict(X_class_test)

In [36]:
print(confusion_matrix(y_class_test,y_class_pred))
print(classification_report(y_class_test,y_class_pred))
print(accuracy_score(y_class_test, y_class_pred))

[[155   2]
 [  1 117]]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       157
           1       0.98      0.99      0.99       118

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275

0.9890909090909091